.main .meteor span{
    opacity: 0;
}
.main .meteor span.one {
    animation: star-ani 1.5s infinite ease-out;
    animation-delay: 1.5s;
}
.main .meteor span.two {
    animation: star-ani 1.75s infinite ease-out;
    animation-delay: 2s;
}
.main .meteor span.three {
    animation: star-ani 2.5s infinite ease-out;
}
.main .meteor span.four {
    animation: star-ani 3s infinite ease-out;
    animation-delay: 2s;
}
@keyframes star-ani {
    0% {
        opacity: 0;
        transform: scale(.5) rotate(-30deg) translate3d(0, 0, 0);
        -webkit-transform: scale(.5) rotate(-30deg) translate3d(0, 0, 0);
        -moz-transform: scale(.5) rotate(-30deg) translate3d(0, 0, 0);
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1) rotate(-30deg) translate3d(-250px, 5px, 0);
        -webkit-transform: scale(1) rotate(-30deg) translate3d(-250px, 5px, 0);
        -moz-transform: scale(1) rotate(-30deg) translate3d(-250px, 5px, 0);
    }
}
header nav{
    z-index: 700;
    top: 49px;
}
@media screen and (max-width: 600px) {
    header nav:before {
        content: "";
        background: #c81f25;
        margin-top: -48px;
        width: 110px;
        height: 40px;
        display: block;
    }
    header nav ul{
        top: 38%;
    }
    header nav{
        position: absolute;
        height: 100vh;
    }
}
.bottom_sha{
    z-index: 400;
}
.none{
    display: none;
}
.g-recaptcha div{
    margin: 40px auto;
}



.index .flyman.move{
    animation: move-ani 2.5s infinite ease-out;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -moz-filter: brightness(70%);
    -ms-filter: brightness(70%);
    -o-filter: brightness(70%);
}
.index .part2 .flyman {
    z-index: 281;
}
@keyframes move-ani {
    0% {
        transform: scale(.85)translate3d(0, 0, 0);
        -webkit-transform: scale(.85) translate3d(0, 0, 0);
        -moz-transform: scale(.85) translate3d(0, 0, 0);
    }
    40% {
        transform: scale(.85) translate3d(0, 30px, 0);
        -webkit-transform: scale(.85) translate3d(0, 30px, 0);
        -moz-transform: scale(.85) translate3d(0, 30px, 0);
    }
    100% {
        transform: scale(.85) translate3d(0, 0, 0);
        -webkit-transform: scale(.85) translate3d(0, 0, 0);
        -moz-transform: scale(.85) translate3d(0, 0, 0);
    }
}
.index .planetBox{
    position: absolute;
    width: 100%;
    margin-top: 1%;
}
.index .roundabout-holder {
    position: absolute;
    list-style: none;
    top: 50%;
    left: 50%;
    width: 350%;
    height: 200vh;
    margin-left: -175%;
}
@media screen and (max-width: 600px) {
    .index .roundabout-holder {
        width: 600%;
        height: 200vh;
        margin-left: -300%;
    }
}
.vote section .vote_box {
    box-sizing: content-box;
    padding: 10px 0;
}
.vote .store_list .name{
    z-index: 699;
}
.wrap .index .part2.vote .slick *{
    text-decoration: none; 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: none;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s
}
.fade-enter, .fade-leave-to{
  opacity: 0
}

.pop{
    position: fixed;
}