<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>新光三越 | 微笑新星爭霸戰</title>

        <!-- facebook share -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="新光三越 | 微笑新星爭霸戰" />
        <meta property="og:url" content="https://smileangel.skm.com.tw/" />
        <meta property="og:description" content="歡迎搭乘星際飛船！新光三越天使們正以微笑火熱開戰！8/7~20馬上投票應援喜愛的微笑天使，助他成為最耀眼的微笑新星！再抽iPad mini4！" />
        <meta property="og:image" content="https://smileangel.skm.com.tw/img/600x315.png" />
        <meta property="fb:app_id" content="142220039665931" />

        <!-- favicon -->
        <link rel="icon" href="img/favicon.ico">

        <!-- css style -->
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/star.css">
        <script src="js/vendor/jquery-2.2.0.min.js"></script>
        <script src="js/vendor/jquery.cookie.min.js"></script>
        <script src="js/vendor/isMobile.min.js"></script>
        <script src="js/vendor/TweenMax.min.js"></script>
        <script src="js/vendor/ga.js"></script>
        <script src="js/vendor/vue.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <!--[if gt IE 9]><script src="js/vendor/html5shiv.js"></script><![endif]-->
    </head>
    <body style="min-width: auto;">
        <!-- loading -->
        <div class="loading">
            <div id="container">
                <div class="ball" id="ball_planet"></div>
                <div class="smallball" id="wrap1">
                    <div class="ball" id="ball1"></div>
                </div>
                <div class="smallball" id="wrap2">
                    <div class="ball" id="ball2"></div>
                </div>
                <div class="smallball" id="wrap3">
                    <div class="ball" id="ball3"></div>
                </div>
                <div class="smallball" id="wrap4">
                    <div class="ball" id="ball4"></div>
                </div>
            </div>
        </div>
        <!-- only fot ipad-->
        <div class="trans_bg">
            <div class="trans_ipad">
                <div class="trans_center"><img src="img/trans/ipad_ok.png">
                    <p>請將裝置轉至橫式
                        <br>體驗最佳瀏覽方式</p>
                </div>
            </div>
            <!-- only for iphone-->
            <div class="trans_iphone">
                <div class="trans_center"><img src="img/trans/iphone_ok.png">
                    <p>請將裝置轉至直式
                        <br>體驗最佳瀏覽方式</p>
                </div>
            </div>
        </div>
        <!-- navigation -->
        <header style="display: none;">
            <p><img src="asset/svg/logo.svg" alt=""></p>
            <div href="" class="menu">
                <a href=""></a>
            </div>
            <nav>
                <ul>
                    <li><a href="">活動首頁</a></li>
                    <li><a href="">活動辦法</a></li>
                    <li><a href="">立即投票</a></li>
                    <li class="none"><a href="">得獎名單</a></li>
                    <li class="social"><a href=""><span class="icon-facebook"></span></a></li>
                    <li class="social"><a href=""><span class="icon-google"></span></a></li>
                </ul>
            </nav>
        </header>
        <div class="wrap" style="display: none;">
            <div class="main general">
                <!-- 其他物件 -->
                <div class="fixed">
                    <div class="meteor">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="planet p_1"><img src="asset/svg/planet/01.svg" alt=""></div>
                    <div class="planet p_2"><img src="asset/svg/planet/05.svg" alt=""></div>
                    <div class="planet p_3"><img src="asset/svg/planet/03.svg" alt=""></div>
                    <div class="sha"></div>
                </div>
                <!-- 主要內容 -->
                <section>
                    <h1><img src="asset/svg/maintitle.svg" alt=""></h1>
                    <h2>- 微笑新星總覽 -<br>請從 自營組/專櫃組/警衛清潔組 中各選一名微笑新星代表吧！</h2>
                    <!--自營組-->
                    <div class="group">
                        <p class="topic">自營組</p>
                        <div class="vote_block">
                            <div class="voteRepeat" v-for="(item, $index) in items" v-if="item.store_tp === 'A'">
                                <div class="vote_box">
                                    <div class="con">
                                        <div class="top">
                                            <a href="#" class="photo" @click="seeMore($event)" :index="item.index"><img :src="item.img1" alt=""><b>看更多</b></a>
                                        </div>
                                        <div class="bottom">
                                            <h2>{{ item.name }}</h2>
                                            <h3>{{ item.store_nm }}</h3>
                                            <p>目前票數 <span>{{ item.vote_cnt }}</span> 票</p>
                                            <a href="" class="btnVote" :class="{ 'choose' : item.chooseFG }" @click="getVote($event)" :index="item.index">
                                                <span><b class="icon-love" v-show="!item.chooseFG"></b>{{ (item.chooseFG) ? '已選取' : '投票' }}</span>
                                                <svg x="0px" y="0px" width="120px" height="40px" viewBox="-3 -3 126 46">
                                                    <path :class="{ 'shape shape_border' : !item.chooseFG }" fill="#B72224" d="M100,0H20C8.954,0,0,8.954,0,20s8.954,20,20,20h80c11.045,0,20-8.954,20-20S111.045,0,100,0z" stroke-linejoin="round" stroke-linecap="round" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <svg width="206px" height="303px" viewBox="-3.2 -3 212 309" stroke-linejoin="round" stroke-linecap="round">
                                        <path class="line line_change" fill="#B72224" d="M205.5,102.75C205.5,46.003,159.498,0,102.75,0C46.003,0,0,46.003,0,102.75v97.501  c0,56.748,46.003,102.75,102.75,102.75c56.748,0,102.75-46.002,102.75-102.75h0.502V102.75H205.5z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--專櫃組-->
                    <div class="group">
                        <p class="topic">專櫃組</p>
                        <div class="vote_block">
                            <div class="voteRepeat" v-for="(item, $index) in items" v-if="item.store_tp === 'B'">
                                <div class="vote_box">
                                    <div class="con">
                                        <div class="top">
                                            <a href="#" class="photo" @click="seeMore($event)" :index="item.index"><img :src="item.img1" alt=""><b>看更多</b></a>
                                        </div>
                                        <div class="bottom">
                                            <h2>{{ item.name }}</h2>
                                            <h3>{{ item.store_nm }}</h3>
                                            <p>目前票數 <span>{{ item.vote_cnt }}</span> 票</p>
                                            <a href="" class="btnVote" :class="{ 'choose' : item.chooseFG }" @click="getVote($event)" :index="item.index">
                                                <span><b class="icon-love" v-show="!item.chooseFG"></b>{{ (item.chooseFG) ? '已選取' : '投票' }}</span>
                                                <svg x="0px" y="0px" width="120px" height="40px" viewBox="-3 -3 126 46">
                                                    <path :class="{ 'shape shape_border' : !item.chooseFG }" fill="#B72224" d="M100,0H20C8.954,0,0,8.954,0,20s8.954,20,20,20h80c11.045,0,20-8.954,20-20S111.045,0,100,0z" stroke-linejoin="round" stroke-linecap="round" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <svg width="206px" height="303px" viewBox="-3.2 -3 212 309" stroke-linejoin="round" stroke-linecap="round">
                                        <path class="line line_change" fill="#B72224" d="M205.5,102.75C205.5,46.003,159.498,0,102.75,0C46.003,0,0,46.003,0,102.75v97.501  c0,56.748,46.003,102.75,102.75,102.75c56.748,0,102.75-46.002,102.75-102.75h0.502V102.75H205.5z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--警衛清潔組-->
                    <div class="group">
                        <p class="topic">警衛清潔組</p>
                        <div class="vote_block">
                            <div class="voteRepeat" v-for="(item, $index) in items" v-if="item.store_tp === 'C'">
                                <div class="vote_box">
                                    <div class="con">
                                        <div class="top">
                                            <a href="#" class="photo" @click="seeMore($event)" :index="item.index"><img :src="item.img1" alt=""><b>看更多</b></a>
                                        </div>
                                        <div class="bottom">
                                            <h2>{{ item.name }}</h2>
                                            <h3>{{ item.store_nm }}</h3>
                                            <p>目前票數 <span>{{ item.vote_cnt }}</span> 票</p>
                                            <a href="" class="btnVote" :class="{ 'choose' : item.chooseFG }" @click="getVote($event)" :index="item.index">
                                                <span><b class="icon-love" v-show="!item.chooseFG"></b>{{ (item.chooseFG) ? '已選取' : '投票' }}</span>
                                                <svg x="0px" y="0px" width="120px" height="40px" viewBox="-3 -3 126 46">
                                                    <path :class="{ 'shape shape_border' : !item.chooseFG }" fill="#B72224" d="M100,0H20C8.954,0,0,8.954,0,20s8.954,20,20,20h80c11.045,0,20-8.954,20-20S111.045,0,100,0z" stroke-linejoin="round" stroke-linecap="round" />
                                                </svg>
                                            </a>
                                        </div>
                                    </div>
                                    <svg width="206px" height="303px" viewBox="-3.2 -3 212 309" stroke-linejoin="round" stroke-linecap="round">
                                        <path class="line line_change" fill="#B72224" d="M205.5,102.75C205.5,46.003,159.498,0,102.75,0C46.003,0,0,46.003,0,102.75v97.501  c0,56.748,46.003,102.75,102.75,102.75c56.748,0,102.75-46.002,102.75-102.75h0.502V102.75H205.5z" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!--進度表-->
                <div class="progress">
                    <ul>
                        <li>
                            <a href="" @click="openSort($event)"><span class="icon-filter"></span>
                                <transition name="fade">
                                    <div class="popup" v-if="sortFG">
                                        <ul>
                                            <li :class="{ 'checkbox-active' : !sortTP }" @click="sortData($event)">
                                                <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox">
                                                <label for="checkbox-1" class="checkbox-custom-label">得票數</label>
                                            </li>
                                            <li :class="{ 'checkbox-active' : sortTP }" @click="sortData($event)">
                                                <input id="checkbox-2" class="checkbox-custom" name="checkbox-2" type="checkbox">
                                                <label for="checkbox-2" class="checkbox-custom-label">依分店</label>
                                            </li>
                                        </ul>
                                    </div>
                                </transition>
                            </a>
                        </li>
                        <li><a href=""><span class="icon-checkmark unfinish"><b>尚未投票</b></span></a>
                            <p>自營組</p>
                        </li>
                        <li><a href=""><span class="icon-checkmark unfinish"><b>尚未投票</b></span></a>
                            <p>專櫃組</p>
                        </li>
                        <li><a href=""><span class="icon-checkmark unfinish"><b>尚未投票</b></span></a>
                            <p>警衛清潔組</p>
                        </li>
                    </ul>
                    <a href="" class="finish no" @click="confirmChoose($event)">
                        <span>我要抽獎</span>
                        <svg width="95px" height="95px" viewBox="-2.5 -3.5 96 96" stroke-linejoin="round" stroke-linecap="round">
                            <circle class="shape shape_border" fill="#5F5F5F" cx="45" cy="45" r="45" />
                        </svg>
                    </a>
                </div>
                <div class="bottom_sha"></div>
            </div>

            <!--裝置警告-->
            <div class="warn none">
                <a href="" class="close"><span></span></a>
                <p>建議使用Safari或Chrome瀏覽網頁，<br>以利活動參與。</p>
            </div>

            <!--店員介紹-->
            <transition name="fade">
                <div class="pop personal" v-show="moreFG">
                    <div class="pop_black" v-show="innerFG"></div>
                    <a href="" class="close" @click="closeAll($event)"><span></span></a>
                    <div class="red_bar"></div>
                    <div class="con">
                        <div class="photo_block"><img src="img/store/01_A_03.jpg" alt="">
                            <ul>
                                <li><a href="" class="focus">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                            </ul>
                            <p class="tag">自營組</p>
                        </div>
                        <div class="des_block">
                            <h1>陳思齊<span>台北南西店 / 營業管理</span></h1>
                            <h2>微笑面對生活<br>微笑面對人生</h2>
                            <p>目前票數 <span class="vote_cnt">5991</span> 票</p>
                            <a href="" class="votebtn">
                                <span><b class="icon-love"></b>投他一票</span>
                                <svg width="173px" height="43px" viewBox="-2 -2 177 47" stroke-linejoin="round" stroke-linecap="round">
                                    <path class="shape shape_border" fill="#FFFFFF" d="M151.875,0h-130C9.794,0,0,9.794,0,21.875S9.794,43.75,21.875,43.75h130 c12.081,0,21.875-9.794,21.875-21.875S163.956,0,151.875,0z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="fb_comment"></div>     
                </div>
            </transition>

            <!--投票成功-->
            <transition name="fade">
                <div class="pop final_check" v-show="voteFG">
                    <a href="" class="close" @click="closeAll($event, 'vote_go_x')"><span></span></a>
                    <div class="red_bar"></div>
                    <!--01-->
                    <div class="con finalCheck">
                        <ul>
                            <li><p><img src="img/store/01_A_01.jpg" alt=""></p><h1>陳思齊<span>台北南西</span></h1></li>
                            <li><p><img src="img/store/01_A_01.jpg" alt=""></p><h1>陳思齊<span>台北信義新天地A11</span></h1></li>
                            <li><p><img src="img/store/01_A_01.jpg" alt=""></p><h1>陳思齊<span>台北南西</span></h1></li>
                        </ul>
                        <div class="gRobots"><div class="g-recaptcha" data-sitekey="6Lce3iYUAAAAAMSujz1uyC9ylydjiTAawjxllxSC"></div></div>
                        <p class="read">
                            <input id="checkbox-1" class="checkbox-custom" name="checkbox-1" type="checkbox">
                            <label for="checkbox-1" class="checkbox-custom-label">我已閱讀並同意<a href="activity.html">活動辦法</a>及<a href="activity.html#auth">個人資料公開授權</a></label>
                        </p>
                        <a href="" class="votebtn" @click="finalCheck($event)">
                            <span><b class="icon-love"></b>確認投票</span>
                            <svg width="173px" height="43px" viewBox="-2 -2 177 47" stroke-linejoin="round" stroke-linecap="round">
                                <path class="shape shape_border" fill="#FFFFFF" d="M151.875,0h-130C9.794,0,0,9.794,0,21.875S9.794,43.75,21.875,43.75h130 c12.081,0,21.875-9.794,21.875-21.875S163.956,0,151.875,0z"/>
                            </svg>
                        </a>
                    </div>
                    <!--02-->
                    <div class="con beenVote none">
                        <h2>您已完成投票!</h2>
                        <h3>每個FB/G+帳號，一天可投一票，天天投票，中獎機率越高<br>微笑新星們期待您的再訪支持！</h3>
                        <a href="" class="votebtn">
                            <span><b class="icon-home"></b>回首頁</span>
                            <svg width="173px" height="43px" viewBox="-2 -2 177 47" stroke-linejoin="round" stroke-linecap="round">
                                <path class="shape shape_border" fill="#FFFFFF" d="M151.875,0h-130C9.794,0,0,9.794,0,21.875S9.794,43.75,21.875,43.75h130 c12.081,0,21.875-9.794,21.875-21.875S163.956,0,151.875,0z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </transition>

            <!--登入畫面-->
            <transition name="fade">
                <div class="pop login" v-show="loginFG">
                    <a href="" class="close" @click="closeAll($event, 'login_x')"><span></span></a>
                    <div class="red_bar">請先登入帳號</div>
                    <div class="con">
                        <a href="" class="login_fb" @click="fbLogin($event)">
                            <span><b class="icon-facebook"></b>Facebook登入</span>
                            <svg width="173px" height="43px" viewBox="-2 -2 177 47" stroke-linejoin="round" stroke-linecap="round">
                                <path class="shape shape_border" fill="#FFFFFF" d="M151.875,0h-130C9.794,0,0,9.794,0,21.875S9.794,43.75,21.875,43.75h130 c12.081,0,21.875-9.794,21.875-21.875S163.956,0,151.875,0z"/>
                            </svg>
                        </a>
                        <a href="" class="login_google">
                            <span><b class="icon-google"></b>Google+登入</span>
                            <svg width="173px" height="43px" viewBox="-2 -2 177 47" stroke-linejoin="round" stroke-linecap="round">
                                <path class="shape shape_border" fill="#FFFFFF" d="M151.875,0h-130C9.794,0,0,9.794,0,21.875S9.794,43.75,21.875,43.75h130 c12.081,0,21.875-9.794,21.875-21.875S163.956,0,151.875,0z"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </transition>

            <!--共用黑幕-->
            <transition name="fade">
                <div class="black" v-if="closeFG"></div>
            </transition>
        </div>
        <script src="js/data.js?v=20170817"></script>
        <script src="js/menu.js?v=20170905"></script>
        <script src="js/general.js?v=20170817"></script>
    </body>
</html>